<form ng-submit="submit()" id="data">
<h1>Fidelity Questionnaire</h1>
<h2>Content</h2>
<table class="row table table-striped">

	<tr><th></th><th ng-repeat="option in standardOptions">{{option.label}}</th></tr>
	<tr ng-repeat="item in content">
	<th>{{item}}</th>
	<th ng-repeat="option in standardOptions"><label class="btn btn-default">{{option.value}} <input type="radio" name="{{item}}"></label></th></tr>

</table>

<h3>Process</h3>
<table class="row table table-striped">

	<tr><th></th><th ng-repeat="option in standardOptions">{{option.label}}</th></tr>
	<tr ng-repeat="item in process">
	<th>{{item}}</th>
	<th ng-repeat="option in standardOptions"><label class="btn btn-default">{{option.value}} <input type="radio" name="{{item}}"></label></th></tr>

</table>


  <button type="submit" class="btn btn-primary" ng-click="submit()">Save Your Responses</button>


</form>