<div class="row">

	<div ng-include="'views/subnav.html'" class="col-md-1"></div>

	<div class="col-md-12">
      <h2>Review Encounters for {{client.firstName}} {{client.lastName}}</h2>
		<table class="table table-rounded table-striped">
            	<tr>
                        <th>#</th>
                        <th></th>
                        <th class="col-md-2" ng-repeat="task in encounterTasks">{{task.label}}</th>
                  </tr>
            	<tr ng-repeat="encounterTask in encounters">
                        <td>{{$index}}</td>
                        <td><a class="btn" ng-href="#/sessions/review/{{userId}}"><i class="glyphicon glyphicon-facetime-video"></i></td>
                        <td ng-repeat="task in encounterTasks">

                              <a class="btn btn-info" ng-href="{{task.questionnaire}}" ng-show="task.questionnaire != undefined">complete</a>
                              <a class="btn btn-info" ng-click="completionDialogue()" ng-show="task.questionnaire == undefined">complete</a>

                        </td>
                  </tr>
            </table>
      </div>
  </div>
