<form ng-submit="submit()" >
	<h2>Parent Daily Report</h2>

	<h3>Think back over the last day. In the last 24 hours has {{client.name}} shown any of the following behaviors? <br/>If yes, was it stressful to you?</h3>

	<table class="table table-striped table-rounded">
		<th>Issue</th><th>Did it happen?<br/> (check if yes)</th><th>How distressing was it?<br/>What was your response?</th></tr>
		<tr ng-repeat="issue in issues">
				<td>{{issue}}</td>
				<td><input name="issueHappened" type="checkbox" value="{{issue}}" ng-click="issueHappenedToggle(issue)" ng-checked="issueHappenedToggle.indexOf(issue) > -1"></td>
				<td>
						<label><input type="radio" name="issueDistressLevel{{issue}}" value="0"> 0 - Did Not Occur</label><br/>
						<label><input type="radio" name="issueDistressLevel{{issue}}" value="1"> 1 - Occurred &amp; Not Stressful</label><br/>
						<label><input type="radio" name="issueDistressLevel{{issue}}" value="2"> 2 - Occurred &amp; Stressful</label>
				<br/>
					<input type="text" name="issueResponse{{issue}}" placeholder="response (if applicable)" class="col-xs-12">
				</td>
		</tr>
		<tr><td><h2>Score:</h2></td><td><h2> {{issueHappened.length}}</h2></td><td><h2>{{distressScore}}</h2></td></tr>
	</table>


<h2>Mental Health</h2>
<h3>Now I am going to ask questions about you and how you have been feeling.</h3>
<h4>In the last 24 hours have you felt:</h4>
	<table class="table table-striped table-rounded">
		<th>Issue</th><th>Did it happen?<br/> (check if yes)</th></tr>
		<tr ng-repeat="feeling in feelings">
				<td>{{feeling}}</td>
				<td><input name='feeling' type="checkbox" value="{{feeling}}"></td>
		</tr>
	</table>

<h3>Do you want to administer the cravings / drug problems questionnaire?</h3>
<button class="btn btn-default" ng-click='cravings(true)' type="button">Yes</button><button class="btn btn-default" ng-click="cravings(false)" type="button">No</button><br/><br/>

<div ng-show="cravingsTrue">
<h2>Cravings / Drug Problems Scale</h2>

  <div class="form-group">
    <label for="usingDrugsThoughts">In the last 24 hours, how often have you thought about using drugs or about how good it would make you feel?
    <select class="form-control" name="usingDrugsThoughts" id="usingDrugsThoughts">
    	<option value="">choose an option</option>
		  <option>Never</option>
		  <option>Rarely</option>
		  <option>Occasionally</option>
		  <option>Sometimes</option>
		  <option>Often</option>
		  <option>Most of the Time</option>
		</select>
		</label>
  </div>
  <div class="form-group">
    <label for="cravingStrength">At its most severe point, how strong was your craving during the last day?
    <select class="form-control" name="cravingStrength"  id="cravingStrength">
    	<option value="">choose an option</option>
		  <option>None at All</option>
		  <option>Slight</option>
		  <option>Mild Urge</option>
		  <option>Moderate Urge</option>
		  <option>Strong urge but easily controlled</option>
		  <option>Strong urge and difficult to control</option>
		  <option>Strong urge and would have used if it were available</option>
		</select>
		</label>
  </div>
  <div class="form-group">
    <label for="resistanceDifficulty">During the last 24 hours, how difficult would it have been to resist taking a drug if you had known it was available?
    <select class="form-control" name="resistanceDifficulty" id="resistanceDifficulty">
    	<option value="">choose an option</option>
			<option>Not difficult at all</option>
			<option>Very mildly difficult</option>
			<option>Mildly difficult</option>
			<option>Moderately difficult</option>
			<option>Very difficult</option>
			<option>Extremely difficult</option>
			<option>Would not be able to resist</option>
		</select>
		</label>
  </div>
  <div class="form-group">
    <label for="cravingIntensity">Please rate your overall drug craving in the last 24 hours.<br/> On a scale of 1-10 with  1 being no craving at all and 10 being “all I wanted to do was use drugs”:
    <input class="form-control" name="cravingIntensity" id="cravingIntensity" type="number" min="0" max="10"></label>
  </div>
    <div class="form-group">
    <label for="positiveThing">Please tell me about one positive thing that has happened to you in the last 24 hours:
    <input class="form-control" name="positiveThing" id="positiveThing" type="text"></label>
  </div>
</div>
  <button type="submit" class="btn btn-primary">Save Your Responses</button>

</form>