<div ng-hide="sessionExists" class="text-center">
    <h2>{{sessionMessage}}</h2>
    <img src="images/spinner.gif"/>
    <div ng-show="error != ''" class="alert alert-danger">{{error}}</div>
</div>

<div class="row" ng-show="sessionExists">
<!--   <div ng-include="'views/subnav.html'" class="col-md-1"></div>
 --><div class="col-md-12">
    <div ng-switch on="type" >
      <div ng-switch-when="record">
        <h2>Upload Video for Session #{{session}}</h2>
        <iframe src="{{videoUploadIFrameURL}}" frameborder='0' class="col-md-12" scrolling="no" style="height:75px; margin:0; padding:0;"></iframe><br/><br/><br/><br/>

         <div class="well">
          <p>To add a session, you will need to log into the <a href="https://www.dropcam.com" class="btn btn-sm btn-info">Dropcam site</a> and manage your username and password.</p>
          <p>When you are done:
          <ol>
            <li>Download the session from the DropCam site</li>
            <li>Delete the session from the DropCam site</li>
            <li>Upload the session here</li>
            <li>Archive the file you uploaded on your local machine</li>
          </ol>
          </p>
        </div>
      </div>
      <div ng-switch-default>
        <h2>Review Session #{{session}}</h2>

        <div class="row">
          <div class="col-md-6">
            
            <videogular vg-theme="videogular.theme" vg-player-ready="videogular.onPlayerReady($API)" vg-complete="videogular.onCompleteVideo()">
              <vg-media vg-src="videogular.sources">
              </vg-media>       
                <vg-controls>
                  <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                  <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  </vg-scrub-bar>
                  <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                  <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                  </vg-volume>
                  <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>
            </videogular>
            <div class="well">
              <button ng-show="showPlayButton" ng-click="play()" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-play"></i> Play</button>

              <button ng-show="showFreezeButton" ng-click="freezeForTagging()" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-pause"></i> Freeze and tag at {{videogular.API.currentTime | date:'mm:ss' }} </button>

              <button ng-hide="showFreezeButton" class="btn btn-lg btn-primary btn-danger disabled">Frozen at {{videogular.API.currentTime | date:'mm:ss' }} </button>
              <div ng-hide="showFreezeButton">
                <h3>Add Tag</h3>
                <select ng-model="timepoint.tag" class="form-control">
                  <option ng-repeat="label in labels">{{label}}</option>
                </select>
                <textarea ng-model="timepoint.notes" class="form-control" placeholder="Add any notes"></textarea>
                <button type="submit" class="btn btn-info btn-lg" ng-click="addTag()"><i class="glyphicon glyphicon-play"></i> Save Tag &amp; Continue Playing</button>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <button type="submit" class="active btn btn-success">
            Your collaborator Mark is logged in!
            </button>
            <br/>
            <br/>
            <table class="table table-rounded table-striped">
              <tr>
                <th>Timestamp</th>
                <th>Label</th>
                <th>Notes</th>
                <th></th>
              </tr>
              <tr ng-repeat="timepoint in timepoints" ng-show="timepoint.time != undefined">
                <td>{{timepoint.time | date:'mm:ss'}}</td>
                <td><label class="label label-success">{{timepoint.tag}}</label></td>
                <td>{{timepoint.notes}}</td>
                <td><button class="btn btn-info" ng-click="jumpTo('{{timepoint.time}}')"><i class="glyphicon glyphicon-time"></i> jump</button></td>
              </tr>
            </table>
            <div class="alert alert-warning" ng-show="timepoints.length < 1">no tags logged yet</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
